# BreathX Configuration
HASKELL_SERVICE_URL=http://localhost:8080
DEBUG=True

# External API Tokens (Get them at the links below)
# https://aqicn.org/data-platform/token/
WAQI_API_KEY=your_waqi_token_here

# https://docs.openaq.org/
OPENAQ_API_KEY=your_openaq_key_here

# https://openweathermap.org/api/air-pollution
OPENWEATHER_API_KEY=your_openweather_key_here
